# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# hintrc
.hintrc

# environments directories
.env

#cache
.eslintcache


# vscode
.vscode
